<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <style>
        @font-face {
            font-family: "Avenir";
            src: url("http://localhost:3001/avenir-lighter.woff") format("woff");
            font-weight: 300;
        }

        @font-face {
            font-family: "Avenir";
            src: url("http://localhost:3001/avenir-book.woff") format("woff");
            font-weight: 400;
        }

        @font-face {
            font-family: "Avenir";
            src: url("http://localhost:3001/avenir-medium.woff") format("woff");
            font-weight: 500;
        }

        @font-face {
            font-family: "Avenir";
            src: url("http://localhost:3001/avenir-black.woff") format("woff");
            font-weight: 900;
        }

        html, body {
            font-family: "Avenir", serif;
            color: var(--text);
            --wcs-white: #ffffff;
            --wcs-light: #f2f2f2;
            --wcs-gray-light: #4d4f53;
            --wcs-gray: #333;
            --wcs-gray-dark: #343a40;
            --wcs-gray-darker: #212529;
            --wcs-black: black;
            --wcs-text-light: #d7d7d7;
            --wcs-text-disabled: #b9b9b9;
            --wcs-text-medium: #747678;
            --wcs-blue: #0088CE;
            --wcs-purple: #6e1e78;
            --wcs-pink: #a1006b;
            --wcs-red: #cd0037;
            --wcs-orange: #e05206;
            --wcs-yellow: #ffb612;
            --wcs-green: #82be00;
            --wcs-teal: #d2e100;
            --wcs-cyan: #009aa6;
            --primary: var(--wcs-cyan);
            --secondary: var(--wcs-purple);
            --background: var(--wcs-white);
            --text: var(--wcs-gray-darker);
            --text-medium: var(--wcs-text-medium);
        }

        @page :first {
            @bottom-center {
                content: none;
            }
            @bottom-left {
                content: none;
            }
            @bottom-right {
                content: none;
            }
        }

        @page {
            size: A4;
            margin: 1cm 1.5cm 2cm 1.5cm;
            @bottom-left {
                content: element(footerService);
                padding-bottom: 1cm;
            }
            @bottom-right {
                content: "Page " counter(page) " sur " counter(pages);
                font-size: 10pt;
                padding-bottom: 1cm;
            }
            @bottom-right {
                content: element(footerLogo);
                padding-bottom: 1cm;
            }
        }

        .first-page-footer {
            position: running(firstPageFooter);
            font-size: 10pt;
        }

        .footer-service {
            position: running(footerService);
            font-size: 10pt;
        }

        .footer-logo {
            position: running(footerLogo);
            height: 0.8cm;
            float: right;
        }

        h1, h2, h3, h4, h5, h6 {
            color: var(--primary);
        }

        h1 {
            border-bottom: solid 2px var(--primary);
        }

        a {
            color: var(--wcs-blue);
        }

        p {
            text-align: justify;
        }

        .first-page-footer {
            position: running(firstPageFooter);
            font-size: 10pt;
        }

        .footer-service {
            position: running(footerService);
            font-size: 10pt;
        }

        .footer-logo {
            position: running(footerLogo);
            height: 0.8cm;
            float: right;
        }

        blockquote {
            border-left: solid 4px var(--primary);
            background-color: var(--wcs-light);
            padding: 1px 0.5cm;
        }

        /********************
         *      COVER       *
         ********************/

        .cover {
            page-break-after: always;
        }

        .cover-content {
            margin-top: 8cm;
        }

        .cover-title {
            font-size: 42px;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--primary);
        }

        .cover-subtitle {
            font-size: 30px;
            color: var(--primary);
        }

        .cover-logo {
            width: 2cm;
            margin-top: 1cm;
        }

        .cover-footer {
            text-align: center;
            position: absolute;
            bottom: 1cm;
            width: 100%;
        }

        /********************
         *       TOC        *
         ********************/

        .table-of-contents {
            overflow-x: hidden;
            page-break-after: always;
        }

        .table-of-contents a {
            padding: 0;
            text-decoration: none;
            color: var(--text);
        }

        .table-of-contents .toc-title {
            background: white;
        }

        .table-of-contents .toc-title::after {
            content: '.............................' '......................................' '......................................' '......................................' '......................................';
            float: left;
            width: 0;
            letter-spacing: 2px;
            color: #999;
        }

        .table-of-contents .toc-page {
            background: white;
            padding-left: 0.33em;
            float: right;
        }

        .table-of-contents .toc-page::after {
            content: target-counter(attr(data-url url), page);
        }

        /*********************/

        /**   highlightjs   **/

        /*********************/

        /*!
          Theme: Default
          Description: Original highlight.js style
          Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
          Maintainer: @highlightjs/core-team
          Website: https://highlightjs.org/
          License: see project LICENSE
          Touched: 2021
        */

        pre code.hljs {
            display: block;
            padding: 1em;
            white-space: break-spaces;
        }

        code.hljs {
            padding: 3px 5px;
        }

        .hljs {
            background: #f0f0f0;
            color: #444
        }

        .hljs-comment {
            color: #888
        }

        .hljs-punctuation, .hljs-tag {
            color: #444a
        }

        .hljs-tag .hljs-attr, .hljs-tag .hljs-name {
            color: #444
        }

        .hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-name, .hljs-selector-tag {
            font-weight: 700
        }

        .hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type {
            color: #800
        }

        .hljs-section, .hljs-title {
            color: #800;
            font-weight: 700
        }

        .hljs-link, .hljs-operator, .hljs-regexp, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-symbol, .hljs-template-variable, .hljs-variable {
            color: #bc6060
        }

        .hljs-literal {
            color: #78a960
        }

        .hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
            color: #397300
        }

        .hljs-meta {
            color: #1f7199
        }

        .hljs-meta .hljs-string {
            color: #4d99bf
        }

        .hljs-emphasis {
            font-style: italic
        }

        .hljs-strong {
            font-weight: 700
        }
    </style>
</head>
<body>
<div class="footer-service">
    <span style="color: var(--wcs-green); font-weight: bold;">e.</span><span
        style="color: var(--wcs-cyan)">SNCF / D2D</span>
</div>
<div class="first-page-footer">
    <span style="color: var(--wcs-green); font-weight: bold;">e.</span><span
        style="color: var(--wcs-cyan)">SNCF / Direction Design & Développement</span>
</div>
<div class="cover">
    <div class="cover-content">
        <div class="cover-title" th:text="${title}">Pas de titre</div>
        <div class="cover-subtitle" th:text="${subtitle}">Pas de sous-titre</div>
    </div>
    <div class="cover-footer">
        <span style="color: var(--wcs-green); font-weight: bold;">e.</span><span style="color: var(--wcs-cyan)">SNCF / Direction Design & Développement</span>
    </div>
</div>
<div class="todoListContainer">
    <h2 th:text="${todoListLabel}"></h2>
    <div class="todoItem" th:each="todoItem : ${todoList}">
        <p class="labelTodoItem" th:text="${todoItem.label}"></p>
        <p class="doneTodoItem" th:text="${todoItem.done}"></p>
    </div>
</div>
</body>
</html>